* {
    font-size: large;
}

body {
    background: linear-gradient(to right, rgb(4, 4, 219, 0.8), purple);    
}

input {
    background: rgb(211, 207, 207);
}

input:hover {
    background: rgb(224, 222, 222);
}

input:active {
    background: rgb(241, 240, 239);
}

.container {
    padding: 0.5% 0.5%;
    width: 450px;
    height: 450px;
    border: 2px solid rgb(12, 12, 12);
    border-radius: 5px;
    display: grid;
    grid-template-rows: 23% repeat(4, 18%);
    grid-template-columns: repeat(5, 19%);
    row-gap: 1%;
    column-gap: 1%;
    justify-content: center;
    margin: 5% auto;
    background: rgb(243, 247, 244);
}

#display {
    width: 98%;
    grid-column-start: 1;
    grid-column-end: 6;
    border: 2px solid rgb(109, 104, 104);
    border-radius: 5px;
    justify-self: center;
    margin-top: 1%;
    padding-right: 1%;
    text-align: right;
    display: grid;
    grid-template-rows: 45% 45%;
    align-items: center;
    background: rgba(229, 245, 230, 0.8);
}

#upper {
    font-size: larger;
}

#lower {
    font-size: xx-large;
}

#equals {
    grid-column: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

#divide {
    grid-column: 4;
}

.zero_container {
     grid-column-start: 1;
     grid-column-end: 4;
     display: flex;
}

#zero {
    flex-grow: 1;
    margin-right: 1%;
}

#point {
    flex-grow: 1;
    margin-left: 1%;
}
