html {
    height: 100%;
}

body {
    background: linear-gradient(to top, rgb(4, 4, 219, 0.6), purple); 
    height: 100%;  
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 700px; 
    height: 60%;
    display: grid;
    grid-template-rows: 22% repeat(4, 18%);
    grid-template-columns: repeat(5, 18%);
    column-gap: 1%;
    row-gap: 1%;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10% auto;
}

#display {
    grid-column-start: 1;
    grid-column-end: 6;
    display: grid;
    grid-template-rows: 45% 45%;
    justify-content: end;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 3%;
    padding-right: 2%;
    padding-bottom: 1%;
    background: rgba(229, 245, 230, 0.8);
}

#upper {
    font-size: larger;
}

#lower {
    font-size: xx-large;
}

.zero_container {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
}

#zero {
    flex-grow: 1;
    margin-right: 1%;
}

#point {
    flex-grow: 1;
    margin-left: 1%;
}

#equals {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column: 5;
}

@media only screen and (min-width: 500px) {
    .container {
        margin: 4% auto;
        height: 80%;
    }

    input {
        font-size: x-large;
    }
}

@media only screen and (min-width: 620px) {
    .container {
        width: 50%;
    }
    #upper {
        font-size: x-large;
    }
    #lower {
        font-size: xx-large;
    }
}
 
@media only screen and (min-width: 1000px) {
    .container {
        width: 40%;
    }
}